*{
  margin: 0;
  padding: 0;
}

*:focus{
  outline: 0;
}

html,body{
background: rgb(32,32,32);
background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(37,37,37,1) 35%, rgba(15,15,15,1) 100%);
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.titulo{
  margin-top: 50%;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 38px;
  color: white;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

.tituloDois{
    margin-top: 20%;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 38px;
  color: white;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

.labelSabor{
  margin-top: 5%;
  font-family: 'Roboto', sans-serif;
  margin-left: 8%;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.nomeSabor{
  width: 80%;
  display: flex;
  margin-left: 8.5%;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  border: 1px black solid;
  height: 40px;
  padding-left: 5px;
}

.labelValor{
  margin-top: 10%;
  font-family: 'Roboto', sans-serif;
  margin-left: 8%;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.preçoValor{
  width: 80%;
  display: flex;
  margin-left: 8.5%;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  border: 1px black solid;
  height: 40px;
  padding-left: 5px; 
}

.btnAlinhamento{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 5%;
}

.btnAlinhamentoOutro{
  display: flex;
  width: 85%;
  justify-content: space-around;
  margin-top: 5%;
  margin-left: 8%;
}

.salvarPizza{
  padding: 15px;
  width: 20%; 
  border: 2px white solid;
  background: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
  border-radius: 3px;
}

.registrarPizza{
  padding: 15px;
  width: 20%;
  border: 2px white solid;
  background: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
  border-radius: 3px;
}

.cancelarPizza{
  padding: 15px;
  width: 20%;
  border: 2px white solid;
  background: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
  border-radius: 3px;
}

.excluirPizza{
  padding: 15px;
  width: 20%;
  border: 2px white solid;
  background: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
  border-radius: 3px;
}

.salvarPizza:active, .registrarPizza:active, .cancelarPizza:active, .excluirPizza:active{
  background-color: white;
  color: black;
}

/* ---------------- */
.cadastrarPizza{
  padding: 15px;
  width: 45%;
  border: 2px white solid;
  background: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 16px;
  border-radius: 3px;
  margin-left: 6%;
}

.listarPizza{
  font-family: 'Roboto', sans-serif;
  border: 2px white solid;
  background: none;
  width: 30%;
  margin-right: 7%;
  font-size: 16px;
  color: white;
  border-radius: 3px;
}

.cadastrarPizza:active{
  background-color: white;
  color: black;
}

.listarPizza:active{
  background-color: white;
  color: black;
}

.labelListar{
  margin-top: 10%;
  font-family: 'Roboto', sans-serif;
  margin-left: 8.5%;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.listas{
  width: 82%;
  display: flex;
  margin-left: 8.5%;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  border: 1px black solid;
  height: 40px;
  padding-left: 5px; 
  background-color: white;
}

.labelCodigo{
  margin-top: 3%;
  font-family: 'Roboto', sans-serif;
  margin-left: 8.5%;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.labelSaborpizza{
  margin-top: 3%;
  font-family: 'Roboto', sans-serif;
  margin-left: 8.5%;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.labelPreço{
  margin-top: 3%;
  font-family: 'Roboto', sans-serif;
  margin-left: 8.5%;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.codigoPizza{
  width: 80%;
  display: flex;
  margin-left: 8.5%;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  border: 1px black solid;
  height: 40px;
  padding-left: 5px; 
}

.saborPizza{
  width: 80%;
  display: flex;
  margin-left: 8.5%;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  border: 1px black solid;
  height: 40px;
  padding-left: 5px; 
}

.preçoPizza{
  width: 80%;
  display: flex;
  margin-left: 8.5%;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  border: 1px black solid;
  height: 40px;
  padding-left: 5px;   
}

#register{
  padding: 20px;
}

.voltar{
  width: 20%;
  height: 30px;
  color: white;
  font-size: 18px;
  border: none;
  background: none;
  margin-top: 5%;
  margin-left: 5%;
}

.logo{
  width: 15vh;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
